<p>menu works!</p>

<div class="navigation">
    <!-- <nav>
        <a routerlink="Home">Home</a>
        <a routerlink="Register">Book Now</a>
        <a routerlink="About">Login</a>
         <a routerlink="Contact">Login</a>
          <a routerlink="Login/Signup">Login</a>
        
    </nav> -->
    <nav>
        <div>
            
            <img src="../../assets/images/lti.jpg" >
            <a routerLink="Home">Home</a>
            <a routerLink="Book Now">Book Now</a>
            <a routerLink="About">About</a>
            <a routerLink="Contact">Contact</a>

            <div style="float:right"><a routerLink="Login">Login | Signup</a></div>

            
        </div>
    </nav>
</div>

<div class=footer>
    <p>
        &#169; © FlyAce(India) Ltd. All rights reserved.
    </p>
</div>